@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-primary text-white;
}

.custom-bg {
    background: url("./assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}